In [2]:
import pandas as pd

dados = pd.read_json("trn.json",lines=True)

dados = dados.drop(columns=['target_ind','target_rel','uid'])

dados.head()

,title,content
0,Girls Ballet Tutu Neon Pink,High quality 3 layer ballet tutu. 12 inches in...
1,Adult Ballet Tutu Yellow,
2,The Way Things Work: An Illustrated Encycloped...,
3,Mog's Kittens,Judith Kerr&#8217;s best&#8211;selling adventu...
4,Misty of Chincoteague,

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2248619 entries, 0 to 2248618
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   content  object
dtypes: object(2)
memory usage: 34.3+ MB

In [4]:
dados['title'] = dados['title'].astype('string')
dados['content'] = dados['content'].astype('string')


dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2248619 entries, 0 to 2248618
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   title    string
 1   content  string
dtypes: string(2)
memory usage: 34.3 MB

In [5]:
import re

#Remover linhas vazias
dados = dados.dropna(subset=['title', 'content'])
dados = dados[(dados['title'].str.strip() != "") & (dados['content'].str.strip() != "")]

#Normalizar texto
dados['title'] = dados['title'].str.lower().str.strip()
dados['content'] = dados['content'].str.lower().str.strip()

#Remover caracteres especiais
def limpar_texto(texto):
    texto = re.sub(r"http\S+|www\S+", "", texto)  # Remove URLs
    texto = re.sub(r"[^a-zA-Z0-9\s]", " ", texto)  # Remove caracteres especiais
    texto = re.sub(r"\t","",texto)
    return texto.strip()

dados['title'] = dados['title'].apply(limpar_texto)
dados['content'] = dados['content'].apply(limpar_texto)

#Remover duplicatas
dados = dados.drop_duplicates(subset=['title', 'content'])

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2248619 entries, 0 to 2248618
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   content  object
dtypes: object(2)
memory usage: 34.3+ MB

In [7]:
dados.head(25)

,title,content
0,girls ballet tutu neon pink,high quality 3 layer ballet tutu 12 inches in...
3,mog s kittens,judith kerr 8217 s best 8211 selling adventu...
7,girls ballet tutu neon blue,dance tutu for girls ages 2 8 years perfect f...
12,the prophet,in a distant timeless place a mysterious pro...
13,rightly dividing the word,this text refers to thepaperbackedition
15,worship with don moen vhs,worship with don moen vhs
16,autumn story brambly hedge,the most research crammed fantasy ever set bef...
17,spirit led moving by grace in the holy spirit ...,you can flow effortlessly and powerfully in th...
18,the very bad bunny beginner series,by marilyn sadler illustrated by roger bollen
22,nice for mice,jill barklem was born in epping in 1951 after...
23,the book of revelation,american baptist pastor bible teacher and wr...
28,in the shadow of man,an instant animal classic time apart fro...
29,apple a day the myths misconceptions and tru...,widely known in canada from hismontreal gazett...
36,on happiness u s edition,text english french translation
37,infallible an inquiry,text english translation original language ...
38,france the beautiful cookbook authentic reci...,though at first glance too luscious for the po...
42,mexico the beautiful cookbook authentic recip...,the latest addition to this popular series is ...
43,a day in the life of china,ninety photographers 60 western 30 chinese ...
44,america the beautiful cookbook,fifth in the series that includes the best sel...
45,paris on the eve 1900 1914,in pre ww i paris picasso debussy gide pro...
46,california the beautiful cookbook authentic ...,two collections of california s best the late...
47,a day in the life of italy photographed by 10...,tenth in the day in the life series this phot...
49,the life of my choice,perhaps the last of the great romantic gentlem...
50,the wall images and offerings from the vietna...,this volume to be published on the fifth anni...
56,a day in the life of canada,like the similar books about australia hawaii...

In [6]:
dados.to_json("clean-trn.json",orient="records",lines=True)